*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    

}
.containerBox{
    display: flex;
    flex-direction: column;
}

.friends-header{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 30px;
}

.friends-title{
    font-weight: 700;
}
.friends-config ul{
    display: flex;
    gap: 15px;
}

.friends-config ul li:nth-child(3){
    margin-right: 15px ;
}
.friends-config ul li{
    list-style: none;
}

.chat-body{
    height: 521px;
    overflow: auto;
    padding: 0 10px;
    flex: 1;
}

.chat-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.chat-content{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.chat-content-child{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    justify-content: space-between;
}

.chat-content-sender{
    font-weight: 700;
    font-size: 20px;
} 

.chat-item>div{
    flex-grow: 1;
}
.chat-item img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 40%;
}

.chat-content-msg{
    color: rgb(158, 155, 155);
    font-size: 15px;
}

.chat-content-count{
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    
}

